TMDB_API_KEY=put-your-tmdb-key-here
EMBY_API_KEY=put-your-emby-key-here
EMBY_URL=http://localhost:8096
ADDON_PUBLIC_URL=https://emby-doom-addon.zxflix.com
FLIXNEST_ADDON_URL=https://flixnest.app/flix-streams/u/6p9xzp78nunz
MOVIES_DIR=D:\movies
SHOWS_DIR=D:\shows
